// $background-color: grey;
// $primary-color: black;
// $secondary-color: red;
:root {
    --background-color: rgb(255, 255, 255);
    --primary-color: black;
    --secondary-color: red;
    --toggle-color: rgb(70, 70, 70);
}

[data-theme='dark'] {
    --background-color: rgb(70, 70, 70);
    --primary-color: white;
    --secondary-color: blue;
    --toggle-color: rgb(255, 255, 255);
}